@import "tailwindcss";
::-webkit-scrollbar {
    background: transparent;
    border: 2px solid rgb(0, 0, 0,0.1);
    border-radius: 6px;
    width: 10px;

}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 211, 243 , 0.5);
    border-radius: 6px;

  }